*{
  margin:0;
  padding: 0;
}
body{
  padding: 1rem;
  background: #E5E5E5;

}
.App{
  display: grid;
  grid-template-columns: 25% 1fr;

}
.Sidebar h1{
  font-size: 24px;
  margin-bottom: 2rem;
}
.search {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin: 1rem 0;
  width: 70%;
  background-color: white;
  padding: .5rem;
  display: flex;
  align-items: center;
}
.search img{
  margin-right: .5rem;
}
.search input {
  outline: none;
  border: none;
  width: 100%;
  padding: .2rem 0;
  font-size: 1rem;
}
.notelists{
  display: flex;
  flex-direction: column;

}

.notelist{
  padding: 1rem;
  width: 90%;
  display: flex;
  align-items: center;
  background-color: #FAFAFA;
  border-bottom:  1px solid #BEBEBE;
  cursor: pointer;
}
.notelist .ntt{
  display: flex;
  flex-direction: column;
  margin-left: .7rem;
}

.notelist span.col{
  width: 1.2rem;
  height: 1.2rem;
}
.notelist span.note-title{
  font-size: 1rem;
  padding-bottom: .3rem;
}
.notelist .ntt span:last-child{
  font-size: .8rem;
  font-weight: lighter;
  color: #BEBEBE;
}
.mainContent {
  display: grid;
  grid-template-columns: auto 1fr;
}
.input-con{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 0 1rem .2rem;
}
form{
  display: flex;
  flex-direction: column;
}
.input-con input, textarea{
  color: #C4C4C4;
  outline: none;
  border: none;
  font-size: 18px;
  margin-top: 1rem;
}
.input-con input{
  font-size: 24px;
}
.bg{
  margin-top: .5rem ;
  display: flex;
  justify-content: space-between;
}
.colors img{
  width: 29px;
  height: 29px;
  margin-right:.6rem ;
}
img[alt="mark"]{
  width: 49px;
  height: 49px;
  cursor: pointer;
}

.shownote{
  margin-top: 1rem;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.shownote .det{
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.shownote .det p{
  font-size: 1.3rem;
  margin-bottom: .5rem;
}
.shownote .det span{
  font-weight: lighter;
  font-size: .8rem;
}
.shownote span.con{
  font-weight: lighter;
  line-height: 1.5rem;
}
button{
  outline: none;
  background: none;
  border: none;
}